<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>准时计时器实现</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="./setTimeoutTimer.js"></script>
  <script src="./webWorkerTimer.js"></script>
  <script src="./requestAnimationFrameTimer.js"></script>
  <script src="./offsetTimer.js"></script>
  <style>
    .timer-card {
      width: 300px;
      padding: 20px;
      margin: 30px auto;
      border-radius: 10px;
      border: 1px solid #666;
    }
    .timer-card-content > * {
      margin-top: 10px;
    }
    .content-line {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="timer-card">
      <div class="timer-card-title">setTimeout计时器</div>
      <div class="timer-card-content">
        <div class="content-line">
          <span>理想时间：</span>
          <input v-model="count1.ideal" type="text">
        </div>
        <div class="content-line">
          <span>实际时间：</span>
          <input v-model="count1.real" type="text">
        </div>
        <div class="content-line">
          <span>误差：</span>
          <input v-model="count1.diff" type="text">
        </div>
        <div class="content-footer">
          <button @click="start1">开始</button>
          <button @click="stop1">停止</button>
          <button @click="clear1">重置</button>
        </div>
      </div>
    </div>
    <div class="timer-card">
      <div class="timer-card-title">Web Worker计时器</div>
      <div class="timer-card-content">
        <div class="content-line">
          <span>理想时间：</span>
          <input v-model="count2.ideal" type="text">
        </div>
        <div class="content-line">
          <span>实际时间：</span>
          <input v-model="count2.real" type="text">
        </div>
        <div class="content-line">
          <span>误差：</span>
          <input v-model="count2.diff" type="text">
        </div>
        <div class="content-footer">
          <button @click="start2">开始</button>
          <button @click="stop2">停止</button>
          <button @click="clear2">重置</button>
        </div>
      </div>
    </div>
    <div class="timer-card">
      <div class="timer-card-title">requestAnimationFrame计时器</div>
      <div class="timer-card-content">
        <div class="content-line">
          <span>理想时间：</span>
          <input v-model="count3.ideal" type="text">
        </div>
        <div class="content-line">
          <span>实际时间：</span>
          <input v-model="count3.real" type="text">
        </div>
        <div class="content-line">
          <span>误差：</span>
          <input v-model="count3.diff" type="text">
        </div>
        <div class="content-footer">
          <button @click="start3">开始</button>
          <button @click="stop3">停止</button>
          <button @click="clear3">重置</button>
        </div>
      </div>
    </div>
    <div class="timer-card">
      <div class="timer-card-title">setTimeout时间补偿计时器</div>
      <div class="timer-card-content">
        <div class="content-line">
          <span>理想时间：</span>
          <input v-model="count4.ideal" type="text">
        </div>
        <div class="content-line">
          <span>实际时间：</span>
          <input v-model="count4.real" type="text">
        </div>
        <div class="content-line">
          <span>误差：</span>
          <input v-model="count4.diff" type="text">
        </div>
        <div class="content-footer">
          <button @click="start4">开始</button>
          <button @click="stop4">停止</button>
          <button @click="clear4">重置</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        defaultCount: {
          ideal: 0,
          real: 0,
          diff: 0
        },
        count1: {},
        count2: {},
        count3: {},
        count4: {},
        worker: null
      },
      methods: {
        initialize() {
          this.count1 = Object.assign(this.defaultCount);
          this.count2 = Object.assign(this.defaultCount);
          this.count3 = Object.assign(this.defaultCount);
          this.count4 = Object.assign(this.defaultCount);
        },
        start1() {
          if (!this.count1.timer) {
            setTimeoutTimer((data) => {
              this.count1 = data;
            });
          }
        },
        stop1() {
          clearTimeout(this.count1.timer);
        },
        clear1() {
          this.stop1();
          this.count1 = Object.assign(this.defaultCount);
        },
        start2() {
          if (!this.count2.worker) {
            webWorkerTimer((data) => {
              this.count2 = data;
            });
          }
        },
        stop2() {
          this.count2.worker.terminate();
        },
        clear2() {
          this.stop2();
          this.count2 = Object.assign(this.defaultCount);
        },
        start3() {
          if (!this.count3.timer) {
            requestAnimationFrameTimer((data) => {
              this.count3 = data;
            });
          }
        },
        stop3() {
          clearTimeout2(this.count3.timer);
        },
        clear3() {
          this.stop3();
          this.count3 = Object.assign(this.defaultCount);
        },
        start4() {
          if (!this.count4.timer) {
            offsetTimer((data) => {
              this.count4 = data;
            });
          }
        },
        stop4() {
          clearTimeout(this.count4.timer);
        },
        clear4() {
          this.stop4();
          this.count4 = Object.assign(this.defaultCount);
        }
      },
      created() {
        this.initialize();
      },
    });
  </script>
</body>
</html>